.btn {
	padding: 10px 20px;
	background: $red;
	color: $white;
	border-radius: 999px;
	transition: all 0.15s ease-in-out;
    cursor: pointer;

    &.disabled,
    &:disabled {
        opacity: 0.5;
        background: $metal;
        cursor: default;
    }

    &.large {
        padding: 15px 25px;
        font-size: 22px;
    }

	&:after {
		display: none !important;
	}

	&:focus,
	&:hover {
        color: $white;
		background: $metal;
	}
}
