footer {
	background: $light-blue;
	padding: 0;

	.top {
		background: $light-blue;
		padding: 45px 0;

        a {
            color: $black;
        }

        .logo-wrapper {

            img {
                width: 100%;

                @media (max-width: 640px) {
                    width: 80%;
                    margin: auto;
                    margin-bottom: 30px;
                }
            }
        }

        .right-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            @media (max-width: 640px) {
                align-items: center;
                margin-top: 30px;
            }

            .socials-wrapper {
                display: flex;
                justify-content: flex-end;

                a {
                    margin-top: 20px;
                    margin-left: 20px;
                    padding: 10px;

                    @media (max-width: 640px) {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
            }
        }
	}

	.bottom {
		background: $metal;
		padding: 22px 0;

        .bottom-links-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media (max-width: 640px) {
                flex-wrap: wrap;
            }

            a {
                color: $white;
                display: block;
                margin: 0 10px !important;

                @media (max-width: 640px) {
                    margin: 10px 10px !important;
                }

                &:after {
                    background: $white;
                }
            }
        }
    }
}
