footer {
	background: $light-blue;
	padding: 0;

	.top {
		background: $light-blue;
		padding: 45px 0;

        .logo-wrapper {
            img {
                width: 100%;

                @media (max-width: 640px) {
                    width: 50%;
                    margin: auto;
                }
            }
        }

        .right-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .socials-wrapper {
                display: flex;
                justify-content: flex-end;

                a {
                    margin-top: 20px;
                    margin-left: 20px;
                }
            }
        }
	}

	.bottom {
		background: $metal;
		padding: 22px 0;

		a {
            color: $white;
			display: block;
			margin: 0 10px !important;
		}
	}

	.flex-between {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		@media only screen and (max-width: 640px) {
			flex-wrap: wrap;
		}
	}
}
