header {
    background: $white;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;

    .header-inner {
        padding: 15px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            height: 69px;
            width: 69px;

            @media (max-width: 640px) {
                height: 50px;
                width: 50px;
            }
        }

        .right-container {
            position: relative;
            min-width: 50%;
            display: flex;
            justify-content: flex-end;

            .btn {
                float: right;
                white-space: nowrap;
                margin-left: 30px;
            }

            .btn.menu-toggler {
                display: none;

                @media only screen and (max-width: 640px) {
                    display: block;
                }
            }

            nav {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;

                @media only screen and (max-width: 640px) {
                    position: absolute;
                    right: 0;
                    top: calc(100% + 30px);
                    flex-direction: column;
                    padding: 20px 30px;
                    display: none;
                    z-index: 5;
                    background: $white;
                }

                @media (max-width: 640px) {
                    .btn {
                        float: none;
                        margin: 30px auto 0 auto;
                    }
                }

                a {
                    margin-left: 20px;
                    display: block;
                    font-size: 18px;
                    color: $black;

                    @media only screen and (max-width: 640px) {
                        width: max-content;
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}
