@font-face {
    font-family: 'Sukhumvit';
    src: url('/sukhumvit/SukhumvitSet-Text.woff2') format('woff2'),
         url('/sukhumvit/SukhumvitSet-Text.woff') format('woff'),
         url('/sukhumvit/SukhumvitSet-Text.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
