.CenteredText {
    margin: 190px 0;
    text-align: center;

    h2 {
        width: max-content;
        margin: 0 auto 20px auto;
        @include dashedUnderline();

        @media (max-width: 640px) {
            font-size: 28px;
        }
    }

    p {
        margin-bottom: 40px;
    }
}
