.Hero {
	.row {
		display: flex;
		align-items: center;

		@media only screen and(max-width: 640px) {
			flex-direction: column-reverse;
		}

		.text-col {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		img {
			width: 100%;
		}

		a {
			margin-top: 20px;
			display: block;
			width: max-content;
			@extend .btn;
		}
	}
}
