.KeyPoints {
    background: $light-blue;
    padding: 85px 0;
    margin: 0;

    .columns {
        text-align: center;

        img {
            width: 50%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            object-position: center center;
            border-radius: 100%;
            margin-bottom: 40px;
        }
    }
}
