.Quotes {
    margin: 50px 0;
    padding: 0;

    @media (max-width: 640px) {
        margin: 40px 0;
    }

    .columns {
        max-width: 60%;
        margin: 50px 0;

        @media (max-width: 640px) {
            max-width: 80%;
            margin: 30px 0;

            h3 {
                font-size: 26px;
            }
        }

        &:nth-of-type(odd) {
            margin-right: auto;
            text-align: left;
        }

        &:nth-of-type(even) {
            margin-left: auto;
            text-align: right;
        }
    }

    h3 {
        @include dashedUnderline();
    }
}
