.TextAndImage {
	.row {
		display: flex;
		align-items: center;

		&.reversed {
			.row {
				flex-direction: row-reverse;

				@media only screen and (max-width: 640px) {
					flex-direction: column !important;
				}
			}
		}

        h2 {
            @include dashedUnderline();
        }

		img {
			width: 100%;

			@media only screen and (max-width: 640px) {
				margin-top: 40px;
			}
		}

		a {
			margin-top: 30px;
			display: block;
			width: max-content;
		}
	}
}
