.TextAndImage {
	.row {
		display: flex;
		align-items: center;

		&.reversed {
			.row {
				flex-direction: row-reverse;

				@media only screen and (max-width: 640px) {
					flex-direction: column !important;
				}
			}
		}

        h2 {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 100%;
                border-bottom: dashed 2px black;
            }
        }

		img {
			width: 100%;

			@media only screen and (max-width: 640px) {
				margin-top: 40px;
			}
		}

		a {
			margin-top: 30px;
			display: block;
			width: max-content;
			@extend .btn;
		}
	}
}
