.TextAndImage {
	.row {
		display: flex;
		align-items: center;

        @media (max-width: 640px) {
            align-items: flex-start;
        }

		&.reversed {
			.row {
				flex-direction: row-reverse;
			}
		}

        .row {
            @media (max-width: 640px) {
            	flex-direction: column-reverse !important;

                img {
                    margin-bottom: 30px;
                }

                h2 {
                    font-size: 24px;
                }
            }
        }

        h2 {
            @include dashedUnderline();
        }

		img {
			width: 100%;

			@media only screen and (max-width: 640px) {
				margin-top: 40px;
			}
		}

		a {
			margin-top: 30px;
			display: block;
			width: max-content;
		}
	}
}
